Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

Add description to text input
  components/input/Input.d.ts
  components/input/Input.js
  components/input/theme.css
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Reformat error and description text for text input
  components/input/Input.js
  components/input/theme.css
Due: eslint --fix

Update package.json
  package.json
Due: none

Rework & simplify autocomplete code
  components/autocomplete/Autocomplete.js
  components/autocomplete/theme.css
Due: eslint --fix

fix(Dropdown): fix Dropdown not closing when click , resolves #1865
  components/dropdown/Dropdown.js
Due: eslint --fix

Fix #1870: Dropdown won't close after selecting an item
  components/dropdown/Dropdown.js
Due: eslint --fix

Fixed issue of scrollbar being hidden on Autocomplete and Dropdown components
  components/autocomplete/theme.css
  components/dropdown/theme.css
  spec/components/dropdown.js
  spec/components/form.js
  spec/ts/dropdown.tsx
Due: eslint --fix

Removes randomness from RadioButton and Checkbox render
  components/checkbox/Checkbox.js
  components/radio/RadioButton.js
Due: eslint --fix

add updated .gitignore and package-lock.json
  .gitignore
  package-lock.json
Due: none

upgrade jest, remove unneeded jest.polyfill.js, and move jest config from package.json to jest.config.js
  jest.config.js
  jest.polyfills.js
  package-lock.json
  package.json
Due: eslint --fix

update ramda
  package-lock.json
  package.json
Due: none

upgrade style-loader
  package-lock.json
  package.json
Due: none

upgrade webpack, webpack-dev-middleware, remove extract-css-text-plugin and replace with mini-css-extract-plugin, and small webpack.config.dev.js changes
  package-lock.json
  package.json
  webpack/webpack.config.dev.js
Due: eslint --fix

fix old color() to color-mod() in style.css for spec
  spec/style.css
Due: none

fix broken avatar links
  spec/components/list.js
Due: eslint --fix

upgrade postcss plugins, and remove duplicate postcss-nesting plugin
  package-lock.json
  package.json
  webpack/postcss.config.js
Due: eslint --fix

remove normalize.css and replace with postcss-normalize
  package-lock.json
  package.json
  spec/root.js
  webpack/postcss.config.js
Due: eslint --fix

remove normalize.css check for style mocking
  jest.config.js
Due: eslint --fix

upgrade @types/node
  package-lock.json
  package.json
Due: none

upgrade babel-loader, babel-eslint, & babel-plugin-react-transform
  package-lock.json
  package.json
Due: none

upgrade gulp, gulp-babel, gulp-postcss, and update gulpfile to use new gulp tasks
  gulpfile.js
  package-lock.json
  package.json
Due: eslint --fix

remove sinon from package.json as it was removed in [23b4537]
  package-lock.json
  package.json
Due: none

fix rule missing quotes, and convert to stylelint.config.js
  .stylelintrc
  stylelint.config.js
Due: eslint --fix

upgrade stylelint, stylelint-config-standard, and stylelint-order
  package-lock.json
  package.json
Due: none

fix spec style.css linter errors
  spec/style.css
Due: none

fix time_picker linter errors
  components/time_picker/theme.css
Due: none

fix tabs linter errors
  components/tabs/theme.css
Due: none

fix table linter errors
  components/table/theme.css
Due: none

fix snackbar linter errors
  components/snackbar/theme.css
Due: none

fix slider linter errors
  components/slider/theme.css
Due: none

fix radio linter errors
  components/radio/theme.css
Due: none

add postcss-calc to postcss plugin chain, to fix css calc() errors
  gulpfile.js
  package-lock.json
  package.json
  webpack/postcss.config.js
Due: eslint --fix

fix progress_bar linter errors
  components/progress_bar/theme.css
Due: none

fix menu linter errors
  components/menu/theme.css
Due: none

fix list linter errors
  components/list/theme.css
Due: none

fix layout linter errors
  components/layout/theme.css
Due: none

fix dropdown linter errors
  components/dropdown/theme.css
Due: none

fix some date_picker linter errors
  components/date_picker/theme.css
Due: none

fix chip linter errors
  components/chip/theme.css
Due: none

fix checkbox linter errors
  components/checkbox/theme.css
Due: none

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
