Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

LEARN-1677 add focus outline to button component
  components/button/theme.css
Due: none

Test commit
  spec/root.js
Due: eslint --fix

LEARN-1647 optional altText prop for listItems that produces hidden text for screen readers
  components/button/theme.css
  components/list/ListItem.d.ts
  components/list/ListItem.js
  components/list/theme.css
  components/tabs/Tab.js
  components/tabs/Tabs.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Make text input accessible
  components/input/Input.js
Due: eslint --fix

edit multiple number.
  components/drawer/config.css
Due: none

Allow screen reader to read error on <Input>
  components/input/Input.js
  spec/components/input.js
Due: eslint --fix

Fix tabIndex behavior
  components/list/ListItem.js
Due: eslint --fix

Change spec for error test
  spec/components/input.js
Due: eslint --fix

Add esc key event listener to Menu
  components/menu/Menu.js
Due: eslint --fix

Add tabIndex prop to MenuItem
  components/menu/MenuItem.d.ts
  components/menu/MenuItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add a helper for creating a keyboard trap - Can be used by all components that need to restrict keyboard focus when open, with Tab, arrow keys, etc
  components/utils/keyboardTrap.js
Due: eslint --fix

Update handleEscape to return keyboard focus to menu icon on hide
  components/menu/Menu.js
Due: eslint --fix

Add keyboard trap to Menu -Works with down and up arrows according to aria authoring practices
  components/menu/Menu.js
Due: eslint --fix

Add appropriate aria attributes based on authoring practices
  components/button/IconButton.d.ts
  components/button/IconButton.js
  components/menu/IconMenu.js
  components/menu/Menu.js
  components/menu/MenuDivider.js
  components/menu/MenuItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Make MenuItem's tabIndex update on Menu open/close
  components/menu/Menu.js
  components/menu/MenuDivider.js
  components/menu/MenuItem.js
Due: eslint --fix

Update keyboard trap to use default export
  components/menu/Menu.js
  components/utils/index.js
  components/utils/keyboardTrap.js
Due: eslint --fix

fix #1611
  components/list/ListItemLayout.js
  components/list/readme.md
Due: eslint --fix

refactor keyboardTrap.js and extract arrowUp/Down logic from Menu.js to handleMenuKeyboardTrap
  components/menu/Menu.js
  components/utils/index.js
  components/utils/keyboardTrap.js
Due: eslint --fix

Update handleEscape
  components/menu/Menu.js
Due: eslint --fix

Fix type declaration for ariaExpanded
  components/button/IconButton.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Refactor keyboardTrap to make use of two different functions for previous and next element -Difficult to follow beforehand when there was one function to get next focusable element
  components/utils/keyboardTrap.js
Due: eslint --fix

Calculate tabIndex based on getTabIndex - removes the need to update tabIndex state
  components/menu/Menu.js
Due: eslint --fix

fix #1611 (#1612)
  components/list/ListItemLayout.js
  components/list/readme.md
Due: eslint --fix

Remove discord link in README.md (#1593)
  README.md
Due: none

solve #1444 and #1359. (#1587)
  README.md
  components/drawer/config.css
Due: none

Fix date-picker animation in IE11 (#1586)
  components/date_picker/theme.css
Due: none

Issue #1581 - Fixed toggling of am to pm (#1582)
  components/utils/__test__/time.spec.js
  components/utils/time.js
Due: eslint --fix

Do not show scrollbar on autocomplete component IE11 (#1515)
  components/autocomplete/theme.css
Due: none

Added innerRef prop to Input (#1573)
  packages/react-toolbox/src/components/input/Input.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Apply padding 0 to everything but buttons in ListItemAction (#1571)
  components/list/theme.css
Due: none

Add ThemeProvider Typescript type (#1576)
  components/ThemeProvider.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Docs/Install: Fix typos, clarify language (#1566)
  docs/app/components/layout/install/install.md
Due: none

Add workaround to `is-component-of-type` for `react-hot-loader@^3` (#1569)
  components/utils/is-component-of-type.js
Due: eslint --fix

Made role on input field a property (#1553)
  components/input/Input.js
Due: eslint --fix

Update Tabs.js (#1567)
  components/tabs/Tabs.js
Due: eslint --fix

fixed browser button fires onChange event twice (#1557)
  components/button/BrowseButton.js
Due: eslint --fix

Fix typescript bindings. (#1564)
  components/app_bar/AppBar.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add `accept` property to `BrowseButton` (#1533)
  components/button/BrowseButton.js
Due: eslint --fix
