Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

fixed order of .label:focus:not(.disabled) / no-descending-specificity
  components/tabs/theme.module.css
Due: none

Removed role attribute on input element to align with Web Content Accessibility Guidelines
  components/input/Input.js
Due: eslint --fix

Updated doc with correct install link
  components/input/readme.md
Due: none

Add autoFocus to InputProps
  components/input/Input.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

removed component = null
  components/date_picker/Calendar.js
Due: eslint --fix

Update material website spec to the new site
  README.md
Due: none

Update Link opacity values to dynamic variables
  components/link/theme.module.css
  components/variables.module.css
Due: none

changed radiobutton value type to any
  components/radio/RadioButton.js
  components/radio/RadioGroup.js
Due: eslint --fix

Update repo branch
  package.json
Due: none

update main field in package.json
  package.json
Due: none

Update .npmignore
  .npmignore
Due: none

Remove build scripts
  package.json
Due: none
