Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

Allow trailing comma on bound methods
  tslint.json
Due: none

Upgrade dependencies for react-toolbox-sc adding recompose
  packages/react-toolbox-sc/package.json
  packages/react-toolbox-sc/yarn.lock
Due: none

Add core Overlay
  packages/react-toolbox-core/src/components/Overlay/Overlay.tsx
  packages/react-toolbox-core/src/components/Overlay/index.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add SC Overlay
  packages/react-toolbox-sc/src/Overlay/Overlay.js
  packages/react-toolbox-sc/src/Overlay/bodyLocker.js
  packages/react-toolbox-sc/src/Overlay/index.js
Due: eslint --fix

Upgrade TS
  package.json
Due: none

Make react-toolbox-sc prettier
  Makefile
  packages/react-toolbox-sc/src/Button/ButtonNode.js
  packages/react-toolbox-sc/src/Button/LinkNode.js
  packages/react-toolbox-sc/src/Button/index.js
  packages/react-toolbox-sc/src/Button/style.js
  packages/react-toolbox-sc/src/DatePicker/DatePicker.js
  packages/react-toolbox-sc/src/utils/alpha.js
  packages/react-toolbox-sc/src/utils/lighten.js
  packages/react-toolbox-sc/src/utils/transitions.js
  packages/react-toolbox-sc/src/withRipple/RippleNode.js
  packages/react-toolbox-sc/src/withRipple/RippleWrapper.js
Due: eslint --fix

Add Dialog and withActiveMount to react-toolbox-core
  packages/react-toolbox-core/src/components/Dialog/Dialog.tsx
  packages/react-toolbox-core/src/components/Dialog/index.ts
  packages/react-toolbox-core/src/components/Overlay/Overlay.tsx
  packages/react-toolbox-core/src/components/Overlay/index.ts
  packages/react-toolbox-core/src/hoc/withActiveMount/index.ts
  packages/react-toolbox-core/src/hoc/withActiveMount/withActiveMount.tsx
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add Dialog to react-toolbox-sc
  packages/react-toolbox-sc/src/Dialog/Dialog.js
  packages/react-toolbox-sc/src/Dialog/DialogActions.js
  packages/react-toolbox-sc/src/Dialog/DialogBody.js
  packages/react-toolbox-sc/src/Dialog/index.js
  packages/react-toolbox-sc/src/Overlay/Overlay.js
Due: eslint --fix

Add DialogExamples to SC Showcase
  packages/react-toolbox-showcase/app/styled-components/DialogExamples.js
  packages/react-toolbox-showcase/app/styled-components/index.js
Due: eslint --fix

Make ts-lint play nicely with prettier
  tslint.json
Due: none

Publish
  packages/react-toolbox-core/package.json
Due: none

Update core version
  packages/react-toolbox-css/package.json
  packages/react-toolbox-fela/package.json
  packages/react-toolbox-sc/package.json
Due: none

Publish
  packages/react-toolbox-sc/package.json
Due: none

Make rtsc public
  packages/react-toolbox-sc/package.json
Due: none

Small fixes
  packages/react-toolbox-core/src/components/Dialog/Dialog.tsx
  packages/react-toolbox-sc/src/Dialog/Dialog.js
  packages/react-toolbox-sc/src/Overlay/Overlay.js
  packages/react-toolbox-showcase/app/styled-components/DialogExamples.js
Due: eslint --fix

Update packages
  packages/react-toolbox-css/package.json
  packages/react-toolbox-fela/package.json
  packages/react-toolbox-sc/package.json
  packages/react-toolbox-showcase/package.json
Due: none

Upgrade packages
  packages/react-toolbox-showcase/package.json
Due: none

Add ClippingBox component to core
  packages/react-toolbox-core/src/components/ClippingBox/ClippingBox.tsx
  packages/react-toolbox-core/src/components/ClippingBox/index.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add ClippingBox SC implementation
  packages/react-toolbox-sc/src/ClippingBox/ClippingBox.js
  packages/react-toolbox-sc/src/ClippingBox/InnerNode.js
  packages/react-toolbox-sc/src/ClippingBox/OutlineNode.js
  packages/react-toolbox-sc/src/ClippingBox/WrapperNode.js
  packages/react-toolbox-sc/src/ClippingBox/index.js
Due: eslint --fix

Do not use PureComponent with shouldComponentUpdate
  packages/react-toolbox-core/src/components/DatePicker/Day.tsx
Due: none

Add null-guards for lazily set navigationNode field of Tabs
  components/tabs/Tabs.js
Due: eslint --fix

Adding id prop for ListItem DOM element
  components/list/ListItem.js
Due: eslint --fix

Revert "Adding id prop for ListItem DOM element"
  components/list/ListItem.js
Due: eslint --fix

Adding id prop for ListItem DOM element
  components/list/ListItem.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Remove box-shadow on required inputs
  components/input/theme.css
Due: none

Add title to <Avatar /> image
  components/avatar/Avatar.js
Due: eslint --fix

Fix mixed up type definitions for Dropdown
  components/dropdown/Dropdown.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Snackbar: added role=alert for assistive technologies
  components/snackbar/Snackbar.js
Due: eslint --fix

Fix compatibility with typescript 2.4+ (#1615)
  components/drawer/Drawer.d.ts
  components/layout/Layout.d.ts
  components/layout/NavDrawer.d.ts
  components/layout/Sidebar.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Allow autoFocus on Autocomplete component
  components/autocomplete/Autocomplete.js
Due: eslint --fix

Add core avatar
  packages/react-toolbox-core/src/components/Avatar/Avatar.tsx
  packages/react-toolbox-core/src/components/Avatar/index.ts
  packages/react-toolbox-core/src/components/Menu/MenuProvider.tsx
  packages/react-toolbox-core/src/components/index.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add SC Avatar
  packages/react-toolbox-sc/src/Avatar/Avatar.js
  packages/react-toolbox-sc/src/Avatar/index.js
  packages/react-toolbox-sc/src/index.js
Due: eslint --fix

Restyle core Avatar
  packages/react-toolbox-core/src/components/Avatar/Avatar.tsx
Due: none

Add Avatar examples
  packages/react-toolbox-showcase/app/styled-components/AvatarExamples.js
  packages/react-toolbox-showcase/app/styled-components/GithubIcon.js
  packages/react-toolbox-showcase/app/styled-components/index.js
Due: eslint --fix

Add core List
  packages/react-toolbox-core/src/components/List/List.tsx
  packages/react-toolbox-core/src/components/List/ListItem.tsx
  packages/react-toolbox-core/src/components/List/index.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'
