Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

Add aria-labelledby to radio and checkbox
  components/checkbox/Checkbox.js
  components/radio/RadioButton.js
Due: eslint --fix

Add wrapper to DialogTheme
  components/dialog/Dialog.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Adding tabindex as a prop
  components/input/Input.js
Due: eslint --fix

added tabindex to inputElementProps
  components/input/Input.js
Due: eslint --fix

Fix yarn start
  .nvmrc
  components/list/ListItemAction.js
  package.json
  yarn.lock
Due: eslint --fix

Fixed ref error with TimePickerDialog - this context was undefined without anonymous function
  components/time_picker/TimePickerDialog.js
Due: eslint --fix

updated formatting
  components/time_picker/TimePickerDialog.js
Due: eslint --fix

Release 2.0.0
  CHANGELOG.md
  package.json
Due: none

Release 2.1.0
  CHANGELOG.md
  package.json
Due: none

Release 2.0.0-beta.12
  CHANGELOG.md
  package.json
Due: none

Fix mismatch between NPM published version and package.json version
  package.json
Due: none

Release 2.0.0-beta.13
  CHANGELOG.md
  package.json
Due: none

#1860 Added Greek locale
  components/date_picker/DatePicker.d.ts
  components/utils/time.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

remove postcss-cssnext and replace with postcss-preset-env
  package.json
  webpack/postcss.config.js
Due: eslint --fix

update color() to color-mod()
  components/button/config.css
  components/card/config.css
  components/checkbox/config.css
  components/date_picker/config.css
  components/dropdown/config.css
  components/input/config.css
  components/progress_bar/config.css
  components/radio/config.css
  components/switch/config.css
  components/table/theme.css
  components/tabs/config.css
  components/time_picker/config.css
  components/tooltip/config.css
Due: none

get docs folder working in local & prod env
  docs/.babelrc
  docs/app/commons.css
  docs/app/components/layout/home/style.css
  docs/app/components/layout/main/config.css
  docs/app/components/preview/style.css
  docs/app/index.js
  docs/package.json
  docs/postcss.config.js
  docs/webpack.config.development.js
  docs/webpack.config.production.js
Due: eslint --fix

update deps for docs site
  docs/package.json
Due: none

fix margin-top for logo in app-bar
  docs/app/components/appbar/style.css
Due: none

document the arguments passed to onChange props, because they are not consistent with the arguments passed to onChange handlers by the DOM
  components/autocomplete/readme.md
  components/checkbox/readme.md
  components/date_picker/readme.md
  components/dropdown/readme.md
  components/input/readme.md
  components/list/readme.md
  components/radio/readme.md
  components/slider/readme.md
  components/switch/readme.md
  components/time_picker/readme.md
Due: none

update import
  components/index.js
Due: eslint --fix

set postcss-preset-env custom-properties preserve to false
  webpack/postcss.config.js
Due: eslint --fix

add whitespace escape code in markdown files to display tables correctly on docs site
  components/autocomplete/readme.md
  components/avatar/readme.md
  components/button/readme.md
  components/card/readme.md
  components/checkbox/readme.md
  components/chip/readme.md
  components/date_picker/readme.md
  components/dialog/readme.md
  components/drawer/readme.md
  components/dropdown/readme.md
  components/font_icon/readme.md
  components/input/readme.md
  components/layout/readme.md
  components/link/readme.md
  components/list/readme.md
  components/menu/readme.md
  components/navigation/readme.md
  components/radio/readme.md
  components/ripple/readme.md
  components/slider/readme.md
  components/snackbar/readme.md
  components/switch/readme.md
  components/table/readme.md
  components/tabs/readme.md
  components/time_picker/readme.md
  components/tooltip/readme.md
Due: none

update README to use postcss-preset-env instead of postcss-cssnext
  README.md
Due: none

Add missing innerRef prop to typescript definition
  components/index.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Move type dependency to the devDependencies
  package.json
Due: none

Add option for global variable config in README
  README.md
Due: none

using ref callback instead of timeout
  components/time_picker/TimePickerDialog.js
Due: eslint --fix

Revert "Release 2.1.0"
  CHANGELOG.md
  package.json
Due: none

using ref callback instead of settimeout to update clockNode reference
  components/time_picker/TimePickerDialog.js
Due: eslint --fix

Clearable dropdown & autocomplete, fix dropdown behaviour, always-controlled inputs
  components/autocomplete/Autocomplete.js
  components/autocomplete/theme.css
  components/dropdown/Dropdown.js
  components/dropdown/theme.css
  components/input/Input.js
  package.json
Due: eslint --fix

fix(Dropdown): fix Dropdown not closing when click , resolves #1865
  components/dropdown/Dropdown.js
Due: eslint --fix

Render autocomplete suggestions in a Portal
  components/autocomplete/Autocomplete.js
  components/autocomplete/theme.css
Due: eslint --fix

Restore expand animation on autocomplete suggestions
  components/autocomplete/Autocomplete.js
  components/autocomplete/theme.css
Due: eslint --fix

Switch Component Fix
  components/switch/Switch.js
Due: eslint --fix

v1.18.1
  package.json
Due: none

v1.18.2
  package.json
Due: none

v2.0.0-beta.11
  package.json
Due: none

Adding swipe month change to calendar
  components/date_picker/Calendar.js
  package.json
  yarn.lock
Due: eslint --fix
