Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

Make list divider conform material design spec
  components/list/ListDivider.js
  components/list/theme.css
  spec/components/list.js
Due: eslint --fix

Revert "Add AppBar icon more spacing"
  components/app_bar/theme.css
Due: none

Update Ripple.js to add keyup as a third event
  components/ripple/Ripple.js
  package.json
Due: eslint --fix

fix: of -> or in documentation
  components/checkbox/readme.md
  components/radio/readme.md
Due: none

Enforce max length on input in js.
  components/input/Input.js
Due: eslint --fix

Fix mixed up type definitions for Dropdown
  components/dropdown/Dropdown.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Update version to 2.0.0-beta.12-5
  package.json
Due: none

Add duration picker component.
  components/dial/Dial.js
  components/dial/Face.js
  components/dial/Hand.js
  components/duration_picker/DurationPicker.d.ts
  components/duration_picker/DurationPicker.js
  components/duration_picker/DurationPickerDialog.js
  components/duration_picker/config.css
  components/duration_picker/index.d.ts
  components/duration_picker/index.js
  components/duration_picker/readme.md
  components/duration_picker/theme.css
  index.d.ts
  spec/components/pickers.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add helper text to input
  components/input/Input.js
  components/input/config.css
  components/input/theme.css
  spec/components/input.js
Due: eslint --fix

Feature/tabs a11y (#1513)
  components/tabs/TabContent.js
  components/tabs/Tabs.js
  components/tabs/config.css
  components/tabs/theme.css
Due: eslint --fix

Update tab so that it only sets focus on click or left/right arrow navigation
  components/tabs/Tab.js
  components/tabs/TabContent.js
  components/tabs/Tabs.js
Due: eslint --fix

Fix type definition for duration picker.
  components/duration_picker/DurationPicker.d.ts
  package.json
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add external ref to IconButton
  components/button/IconButton.js
Due: eslint --fix

Update handleMenuTrap to use event
  components/menu/Menu.js
  components/utils/keyboardTrap.js
Due: eslint --fix

Fix IconButton setRef
  components/button/IconButton.js
Due: eslint --fix

Change IconButton ariaLabel type declaration to string
  components/button/IconButton.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add `multiple` property to `BrowseButton`
  components/button/BrowseButton.js
Due: eslint --fix

Switch from onClick to onMouseDown for Dropdown elements
  components/dropdown/Dropdown.js
Due: eslint --fix

Update readme for Autocomplete
  components/autocomplete/readme.md
Due: none

Fix incompatibility of TimePicker with Preact
  components/time_picker/TimePickerDialog.js
Due: eslint --fix

Remove setRef from being passed to the actual button
  components/button/IconButton.js
Due: eslint --fix

Issue #1659 Fix calculation of the center of the TimePicker when used in touch events
  components/time_picker/Clock.js
Due: eslint --fix

IconMenu: active prop (fixes #1662).
  components/menu/IconMenu.js
  components/menu/__test__/index.spec.js
  components/menu/readme.md
Due: eslint --fix

IconMenu: active prop (#1662).
  components/menu/IconMenu.js
Due: eslint --fix

IconMenu: active prop (#1662). more tests.
  components/menu/IconMenu.js
  components/menu/__test__/index.spec.js
Due: eslint --fix

IconMenu: active prop (#1662).
  components/menu/IconMenu.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add aria roles and properties meeting aria authoring practices 1.1 for dialogs
  components/dialog/Dialog.d.ts
  components/dialog/Dialog.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Fix bad prop.
  components/hoc/Portal.js
Due: eslint --fix

Fix failing build / lint:css fail.
  components/autocomplete/theme.css
Due: none

fix prop-type.
  components/hoc/Portal.js
Due: eslint --fix

Portal: Fix Invalid "style" PropType (#1664)
  components/hoc/Portal.js
Due: eslint --fix

Typescript definitions validation (#1163)
  .gitignore
  .travis.yml
  components/button/Button.d.ts
  components/input/Input.d.ts
  components/menu/MenuItem.d.ts
  components/tabs/Tab.d.ts
  components/tooltip/index.d.ts
  package.json
  spec/ts/app_bar.tsx
  spec/ts/autocomplete.tsx
  spec/ts/avatar.tsx
  spec/ts/button.tsx
  spec/ts/card.tsx
  spec/ts/checkbox.tsx
  spec/ts/chip.tsx
  spec/ts/dialog.tsx
  spec/ts/drawer.tsx
  spec/ts/dropdown.tsx
  spec/ts/font_icon.tsx
  spec/ts/github_icon.tsx
  spec/ts/icon_menu.tsx
  spec/ts/input.tsx
  spec/ts/link.tsx
  spec/ts/list.tsx
  spec/ts/menu.tsx
  spec/ts/navigation.tsx
  spec/ts/pickers.tsx
  spec/ts/progress.tsx
  spec/ts/radio.tsx
  spec/ts/slider.tsx
  spec/ts/snackbar.tsx
  spec/ts/switch.tsx
  spec/ts/table.tsx
  spec/ts/tabs.tsx
  spec/ts/tooltip.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add `multiple` property to `BrowseButton` (#1656)
  components/button/BrowseButton.js
Due: eslint --fix

Update readme for Autocomplete (#1657)
  components/autocomplete/readme.md
Due: none

Fix lint issue (#1624)
  components/autocomplete/theme.css
Due: none

Fix package.json
  package.json
Due: none

Add prettier for react-toolbox-core and Portal factory
  Makefile
  package.json
  packages/react-toolbox-core/src/components/Button/Button.tsx
  packages/react-toolbox-core/src/components/DatePicker/DatePicker.tsx
  packages/react-toolbox-core/src/components/DatePicker/Day.tsx
  packages/react-toolbox-core/src/components/DatePicker/Month.tsx
  packages/react-toolbox-core/src/components/DatePicker/RangePicker.tsx
  packages/react-toolbox-core/src/components/DatePicker/SinglePicker.tsx
  packages/react-toolbox-core/src/components/DatePicker/__tests__/Day.test.tsx
  packages/react-toolbox-core/src/components/DatePicker/getMonthAffected.ts
  packages/react-toolbox-core/src/components/DatePicker/getMonthMatrix.ts
  packages/react-toolbox-core/src/components/DatePicker/getSelectionMatch.ts
  packages/react-toolbox-core/src/components/DatePicker/locale/dateLocales.ts
  packages/react-toolbox-core/src/components/DatePicker/locale/getFullDayOfWeek.ts
  packages/react-toolbox-core/src/components/DatePicker/locale/getFullMonth.ts
  packages/react-toolbox-core/src/components/DatePicker/locale/getShortMonth.ts
  packages/react-toolbox-core/src/components/Portal/Portal.tsx
  packages/react-toolbox-core/src/components/Portal/index.ts
  packages/react-toolbox-core/src/hoc/withRipple/withRipple.tsx
  packages/react-toolbox-core/src/utils/createElement.ts
  packages/react-toolbox-core/src/utils/getPassThrough.ts
  packages/react-toolbox-core/src/utils/getTouchPosition.ts
  packages/react-toolbox-core/src/utils/isComponentOfType.ts
  packages/react-toolbox-core/src/utils/measureElement.ts
  packages/react-toolbox-core/src/utils/types.ts
  packages/react-toolbox-sc/src/Portal/index.js
  packages/react-toolbox-themr/src/postcss.js
  tslint.json
  yarn.lock
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

ListItem component theme prop extends ListItemTextTheme.
  components/list/ListItem.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Update listitem component to use tabIndex prop
  components/list/ListItem.d.ts
  components/list/ListItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add Portal
  packages/react-toolbox-core/src/components/Portal/Portal.tsx
  packages/react-toolbox-core/src/components/Portal/index.ts
  packages/react-toolbox-sc/src/Portal/Portal.js
  packages/react-toolbox-sc/src/Portal/index.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
