Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

fix card linter errors
  components/card/theme.css
Due: none

fix button linter errors
  components/button/theme.css
Due: none

fix autocomplete linter errors
  components/autocomplete/theme.css
Due: none

fix some of input linter erros
  components/input/theme.css
Due: none

change icon button background from red to gray
  spec/components/button.js
Due: eslint --fix

upgrade internal-ip
  package-lock.json
  package.json
  server.js
Due: eslint --fix

upgrade lint-staged, add husky, and move to husky pre-commit for running lint-staged
  .lintstagedrc
  husky.config.js
  lint-staged.config.js
  package-lock.json
  package.json
Due: eslint --fix

fix utils eslint errors
  components/utils/utils.js
Due: eslint --fix

fix eslint errors in prefixer & testing
  components/utils/prefixer.js
  components/utils/testing.js
Due: eslint --fix

fix eslint errors in react-css-themr mock
  components/__mocks__/react-css-themr.js
Due: eslint --fix

upgrade postcss-preset-env
  package-lock.json
  package.json
Due: none

change package.json prepublish to parepare, and fix broken event target value on slider test
  components/slider/__tests__/index.spec.js
  package.json
Due: eslint --fix

upgrade to babel 7, upgrade gulp-babel & babel-loader to work with babel 7
  .babelrc
  babel.config.js
  package-lock.json
  package.json
  webpack/webpack.config.dev.js
Due: eslint --fix

add @babel/plugin-transform-runtime, and remove @babel/polyfill from webpack
  babel.config.js
  package-lock.json
  package.json
  webpack/webpack.config.dev.js
Due: eslint --fix

upgrade typescript, and add allowJS to tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix export components in index.js
  components/index.js
Due: eslint --fix

move variables.css & colors.css import into postcss.config.js
  spec/style.css
  webpack/postcss.config.js
Due: eslint --fix

remove react-transform-hmr as it is deprecated
  package-lock.json
  package.json
Due: none

add react-hot-loader, replace mini-css-extract-plugin with extract-css-chunks-plugin, and add cold to enable avatar type checking
  babel.config.js
  package-lock.json
  package.json
  server.js
  spec/components/avatar.js
  spec/components/chip.js
  spec/components/tooltip.js
  spec/root.js
  webpack/webpack.config.dev.js
Due: eslint --fix

update package versions
  package-lock.json
  package.json
Due: none

upgrade extract-css-chunks-webpack-plugin
  .eslintrc
  package-lock.json
  package.json
Due: none

rename .eslintrc to .eslintrc.js as .eslintrc is deprecated
  .eslintrc
  .eslintrc.js
Due: eslint --fix

resolve linter errors, and update eslintrc.js file
  .eslintrc.js
  components/app_bar/AppBar.js
  components/date_picker/Calendar.js
  components/date_picker/CalendarDay.js
  components/date_picker/DatePickerDialog.js
  components/hoc/ActivableRenderer.js
  components/input/Input.js
  components/layout/Sidebar.js
  components/list/List.js
  components/list/ListItemAction.js
  components/menu/IconMenu.js
  components/menu/Menu.js
  components/ripple/Ripple.js
  components/slider/Slider.js
  components/tabs/Tabs.js
  components/time_picker/Clock.js
  components/time_picker/ClockHand.js
  components/time_picker/TimePickerDialog.js
  components/tooltip/Tooltip.js
Due: eslint --fix

update README with postcss-preset-env changes
  README.md
Due: none

remove extranous config option
  webpack/webpack.config.dev.js
Due: eslint --fix

remove commented babel settings
  babel.config.js
  package-lock.json
Due: eslint --fix

fix stylelint errors
  babel.config.js
  components/date_picker/theme.css
  components/input/theme.css
Due: eslint --fix

remove yarn.lock
  yarn.lock
Due: none

fix missing typings
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix css-transition animation for date & time picker
  components/date_picker/Calendar.js
  components/date_picker/theme.module.css
  components/time_picker/Clock.js
  components/time_picker/ClockHours.js
  components/time_picker/ClockMinutes.js
  components/time_picker/theme.module.css
Due: eslint --fix

fix stylelint errors
  components/date_picker/theme.module.css
  components/time_picker/theme.module.css
Due: none

apply translate3d instead of translateX for GPU rendering
  components/date_picker/theme.module.css
Due: none

Rework & simplify autocomplete code
  components/autocomplete/Autocomplete.d.ts
  components/autocomplete/Autocomplete.js
  components/autocomplete/readme.md
  components/autocomplete/theme.css
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

I am fucking tired of copying rowCell/headCell styles
  components/table/Table.js
  components/table/TableCell.js
  components/table/TableRow.js
  components/table/theme.css
Due: eslint --fix

CSS definition for multiple animations that is compatible with postcss
  components/progress_bar/theme.module.css
Due: none

Without min-height, Chip may become invisible when containing an empty value
  components/chip/theme.css
Due: none

Show scrollbars in webkit, add padding for autocomplete [v]
  components/autocomplete/theme.css
  package.json
Due: none

Fix #1904 - update filename reference for variables and colors in readme
  README.md
Due: none

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
