Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

Add withStyled HOC
  packages/react-toolbox-sc/src/Avatar/Avatar.js
  packages/react-toolbox-sc/src/utils/withStyled.js
Due: eslint --fix

Add Collapsable component
  packages/react-toolbox-sc/src/Collapsable/Collapsable.js
  packages/react-toolbox-sc/src/Collapsable/index.js
Due: eslint --fix

Add FontIcon
  packages/react-toolbox-sc/src/FontIcon/FontIcon.js
  packages/react-toolbox-sc/src/FontIcon/index.js
Due: eslint --fix

Add withKeys HOC
  packages/react-toolbox-core/src/hoc/withKeys/index.ts
  packages/react-toolbox-core/src/hoc/withKeys/keys.ts
  packages/react-toolbox-core/src/hoc/withKeys/withKeys.tsx
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add withNavigation HOC
  packages/react-toolbox-core/src/hoc/withKeys/index.ts
  packages/react-toolbox-core/src/hoc/withKeys/withKeys.tsx
  packages/react-toolbox-core/src/hoc/withNavigation/index.ts
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
  packages/react-toolbox-core/src/utils/filterReactChildren.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Improve withKeys HOC
  packages/react-toolbox-core/src/hoc/withKeys/withKeys.tsx
Due: none

withNavigation HOC improvements
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
Due: none

Add Lists for SC
  packages/react-toolbox-sc/src/Collapsable/Collapsable.js
  packages/react-toolbox-sc/src/FontIcon/FontIcon.js
  packages/react-toolbox-sc/src/List/List.js
  packages/react-toolbox-sc/src/List/ListDivider.js
  packages/react-toolbox-sc/src/List/ListItem.js
  packages/react-toolbox-sc/src/List/ListSubheader.js
  packages/react-toolbox-sc/src/List/ListText.js
  packages/react-toolbox-sc/src/List/ListTextPrimary.js
  packages/react-toolbox-sc/src/List/ListTextSecondary.js
  packages/react-toolbox-sc/src/List/index.js
Due: eslint --fix

Hover ListItems with selectable
  packages/react-toolbox-sc/src/List/ListItem.js
Due: eslint --fix

Add ListExamples
  packages/react-toolbox-showcase/app/styled-components/ListExamples.js
Due: eslint --fix

Publish
  packages/react-toolbox-core/package.json
Due: none

Update core deps
  packages/react-toolbox-css/package.json
  packages/react-toolbox-fela/package.json
  packages/react-toolbox-sc/package.json
Due: none

Publish
  packages/react-toolbox-sc/package.json
Due: none

Fix some linter errors and add other examples
  packages/react-toolbox-showcase/app/styled-components/ListExamples.js
  packages/react-toolbox-showcase/app/styled-components/index.js
  packages/react-toolbox-showcase/package.json
Due: eslint --fix

Fix issues related to tabbing and checkboxes
  components/checkbox/Check.js
  components/checkbox/Checkbox.js
Due: eslint --fix

fix toggleTimeMode to not change day
  components/utils/time.js
Due: eslint --fix

Add <Card /> component
  packages/react-toolbox-sc/src/Card/Card.js
  packages/react-toolbox-sc/src/Card/CardActions.js
  packages/react-toolbox-sc/src/Card/CardHeader.js
  packages/react-toolbox-sc/src/Card/CardMedia.js
  packages/react-toolbox-sc/src/Card/CardText.js
  packages/react-toolbox-sc/src/Card/CardTitle.js
  packages/react-toolbox-sc/src/Card/CardTitlePrimary.js
  packages/react-toolbox-sc/src/Card/CardTitleSecondary.js
  packages/react-toolbox-sc/src/Card/index.js
  packages/react-toolbox-sc/src/index.js
Due: eslint --fix

Add <Card /> examples
  packages/react-toolbox-showcase/app/styled-components/CardExamples.js
  packages/react-toolbox-showcase/app/styled-components/index.js
Due: eslint --fix

Add getDOMElement and getDOMParentElement utils
  packages/react-toolbox-core/src/utils/getDOMElement.ts
  packages/react-toolbox-core/src/utils/getDOMParentElement.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add getViewport
  packages/react-toolbox-core/src/utils/getViewport.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Fix withPortal providerNode type
  packages/react-toolbox-sc/src/Menu/withPortal.js
Due: eslint --fix

Temp removal of react-native
  package.json
  packages/react-toolbox-core/src/hoc/withRipple/withRipple.tsx
  packages/react-toolbox-core/src/utils/measureElement.ts
  packages/react-toolbox-sc/yarn.lock
  packages/react-toolbox-showcase/yarn.lock
  yarn.lock
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Fix types
  packages/react-toolbox-core/src/hoc/withActiveMount/withActiveMount.tsx
  packages/react-toolbox-core/src/hoc/withClickOutside/withClickOutside.tsx
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
Due: none

Fix build
  packages/react-toolbox-core/src/hoc/withPosition/index.ts
  packages/react-toolbox-core/src/utils/measureElement.ts
  packages/react-toolbox-sc/src/Menu/MenuNode.js
  packages/react-toolbox-sc/src/Menu/MenuSheet.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Fix tests
  jest.polyfills.js
  jest.setup.js
  package.json
  packages/react-toolbox-css/src/utils/__tests__/createComponent.test.js
  packages/react-toolbox/src/components/chip/__test__/index.spec.js
  packages/react-toolbox/src/components/progress_bar/__test__/index.spec.js
  packages/react-toolbox/src/components/slider/__tests__/index.spec.js
  packages/react-toolbox/src/components/tabs/__tests__/index.spec.js
Due: eslint --fix

Fix tests (#1697)
  jest.polyfills.js
  jest.setup.js
  package.json
  packages/react-toolbox-css/src/utils/__tests__/createComponent.test.js
  packages/react-toolbox/src/components/chip/__test__/index.spec.js
  packages/react-toolbox/src/components/progress_bar/__test__/index.spec.js
  packages/react-toolbox/src/components/slider/__tests__/index.spec.js
  packages/react-toolbox/src/components/tabs/__tests__/index.spec.js
Due: eslint --fix

Fix linter
  .eslintrc
Due: none

Travis is sick
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
Due: none

Upgraded to support React 16
  components/button/__test__/index.spec.js
  components/chip/__test__/index.spec.js
  components/date_picker/Calendar.js
  components/date_picker/__test__/index.spec.js
  components/menu/__test__/index.spec.js
  components/progress_bar/__test__/index.spec.js
  components/slider/__tests__/index.spec.js
  components/tabs/__tests__/index.spec.js
  components/time_picker/Clock.js
  components/utils/testing.js
  package.json
  yarn.lock
Due: eslint --fix

Upgraded typescript to remove errors
  package.json
  yarn.lock
Due: none

Upgrade react-transition-group
  components/date_picker/Calendar.js
  components/time_picker/Clock.js
  package.json
  yarn.lock
Due: eslint --fix

Refactor withKeys HOC
  packages/react-toolbox-core/src/components/RenderChildren/RenderChildren.ts
  packages/react-toolbox-core/src/components/RenderChildren/index.ts
  packages/react-toolbox-core/src/hoc/withKeys/keys.ts
  packages/react-toolbox-core/src/hoc/withKeys/withKeys.tsx
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
  packages/react-toolbox-core/src/utils/keyMatchers.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

List shouldn't be inline blocks
  packages/react-toolbox-sc/src/List/List.js
Due: eslint --fix

Add option to withRipple to enable/disable by default
  packages/react-toolbox-core/src/hoc/withRipple/withRipple.tsx
Due: none

Update ListExamples with latest changes
  packages/react-toolbox-showcase/app/styled-components/ListExamples.js
Due: eslint --fix

Use default ripple option for ListItem
  packages/react-toolbox-sc/src/List/ListItem.js
Due: eslint --fix

Prettier code
  packages/react-toolbox-core/src/components/RenderChildren/RenderChildren.ts
  packages/react-toolbox-core/src/hoc/withKeys/withKeys.tsx
  packages/react-toolbox-core/src/hoc/withNavigation/withNavigation.tsx
  packages/react-toolbox-core/src/utils/keyMatchers.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Propagate isSelectable to List in MenuNode
  packages/react-toolbox-sc/src/Menu/Menu.js
Due: eslint --fix

Include DialogExamples
  packages/react-toolbox-showcase/app/styled-components/DialogExamples.js
  packages/react-toolbox-showcase/app/styled-components/index.js
Due: eslint --fix
