Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

Fix travis
  components/table/theme.css
Due: none

Fix GitHub TextCase
  .bumpedrc
  CHANGELOG.md
  README.md
  components/button/readme.md
  docs/app/components/layout/home/index.js
  docs/app/components/layout/main/modules/examples/button_example_1.txt
  spec/components/button.js
  spec/components/link.js
  spec/ts/button.tsx
  spec/ts/link.tsx
Due: eslint --fix

Publish
  packages/react-toolbox-core/package.json
Due: none

Add Avatar readme and corrections
  .eslintrc
  packages/react-toolbox-core/src/components/Avatar/Avatar.tsx
  packages/react-toolbox-core/src/components/Avatar/README.md
Due: none

Add useKeys to withPortal
  packages/react-toolbox-sc/src/Menu/withPortal.js
Due: eslint --fix

Complete MenuExamples
  packages/react-toolbox-showcase/app/styled-components/MenuExamples.js
Due: eslint --fix

Add override spread for List
  packages/react-toolbox-sc/src/List/List.js
Due: eslint --fix

Bugfix in Avatar
  packages/react-toolbox-sc/src/Avatar/Avatar.js
Due: eslint --fix

Pass down cover to the image node
  packages/react-toolbox-core/src/components/Avatar/Avatar.tsx
  packages/react-toolbox-core/src/components/Avatar/README.md
  packages/react-toolbox-sc/src/Avatar/Avatar.js
Due: eslint --fix

Allow custom knob renderer on Slider
  components/slider/Slider.js
Due: eslint --fix

allow PropTypes.node for caption
  components/list/ListCheckbox.d.ts
  components/list/ListCheckbox.js
  components/list/ListSubHeader.d.ts
  components/list/ListSubHeader.js
  components/list/readme.md
  components/menu/MenuItem.d.ts
  components/menu/MenuItem.js
  components/menu/readme.md
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

allow PropTypes.node for label
  components/button/BrowseButton.d.ts
  components/button/BrowseButton.js
  components/button/Button.d.ts
  components/button/Button.js
  components/button/readme.md
  components/dialog/Dialog.d.ts
  components/dialog/Dialog.js
  components/dialog/readme.md
  components/link/Link.d.ts
  components/link/Link.js
  components/link/readme.md
  components/switch/Switch.d.ts
  components/switch/Switch.js
  components/switch/readme.md
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Give first non disabled menu item focus upon menu opening
  components/menu/IconMenu.d.ts
  components/menu/IconMenu.js
  components/menu/Menu.d.ts
  components/menu/Menu.js
  components/menu/MenuItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Update enzyme and enzyme-adapter-react-16 dependencies
  package.json
  yarn.lock
Due: none

Fix tabs tests
  packages/react-toolbox/src/components/tabs/__tests__/index.spec.js
Due: eslint --fix

Add config file for circleci 2.0
  .circleci/config.yml
Due: none

Add visibility:hidden to inactive menus
  components/menu/Menu.js
  components/menu/theme.css
Due: eslint --fix

Added support to define wheter or not show the value on the right side of the slider. You can choose a custom component to show
  components/slider/Slider.d.ts
  components/slider/Slider.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Fix: Dropdown source item set as disabled throws warning
  components/dropdown/Dropdown.js
Due: eslint --fix

-Added support for keyboard navigation of dropdown menus -Included a light dom-helper library -Updated documentation
  components/dropdown/Dropdown.d.ts
  components/dropdown/Dropdown.js
  components/dropdown/readme.md
  components/dropdown/theme.css
  package.json
  spec/components/dropdown.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

fix TypeError if localTheme is null
  components/autocomplete/Autocomplete.js
Due: eslint --fix

add progressbar aria role to component
  components/progress_bar/ProgressBar.js
Due: eslint --fix

-Fixes https://github.com/react-toolbox/react-toolbox/issues/1440 -Added a force repaint of the counter when an error is passed after the initial rendering -Added test case in spec
  components/input/Input.js
  components/input/theme.css
  spec/components/input.js
Due: eslint --fix

Fix dropdown entry selection issue
  components/dropdown/Dropdown.js
Due: eslint --fix

Delete CNAME
  CNAME
Due: none

Use window.requestAnimationFrame in Tabs.js
  components/tabs/Tabs.js
Due: eslint --fix

bug fix for issue 1680
  components/tabs/Tabs.js
Due: eslint --fix

Add another navigationNode null check
  components/tabs/Tabs.js
Due: eslint --fix

Update CNAME
  CNAME
Due: none

Switch component should focus on span instead of input
  components/switch/Switch.js
  server.js
Due: eslint --fix

Adding aria-valuetext attribute to progress bar
  components/progress_bar/ProgressBar.js
Due: eslint --fix

Prefer props.onClick over props.to in ListItem
  components/list/ListItem.js
Due: eslint --fix

Resorted methods in hoc for linter
  components/hoc/ActivableRenderer.js
Due: eslint --fix

Update ListItem tabIndex handling
  components/list/ListItem.js
Due: eslint --fix

Fix keyboard trap for menus -- allow arrow navigation on IE
  components/menu/Menu.js
  components/utils/keyboardTrap.js
  spec/components/menu.js
Due: eslint --fix

Allow modified clicks on linked ListItem to open in new tab
  components/list/ListItem.js
Due: eslint --fix

Update URLs to new .io domain
  README.md
  ROADMAP.md
  components/input/readme.md
  docs/www/index.html
  docs/www/other/CNAME
  package.json
  spec/root.js
Due: eslint --fix

adds a span wrapper to the component button in case of its disabled and have mouse enter and mouse leave events
  components/button/Button.js
  spec/components/tooltip.js
Due: eslint --fix

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
