Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

.lintstagedrc:

{
  "*.ts": [
    "prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": "sass-lint --max-warnings 0 -v"
}

Event passed for Radiogroup (#1544)
  components/radio/RadioGroup.js
Due: eslint --fix

Issue 1459: Replace onClick handler in Dropdown component to onMouseDown (#1521)
  components/dropdown/Dropdown.js
Due: eslint --fix

Change tab style for ripple to work with Tabs (#1519)
  components/tabs/theme.css
Due: none

Add variables for the App Bar's font size and weight. (#1518)
  components/app_bar/config.css
  components/app_bar/theme.css
Due: none

Add default export TypeScript type to IconButton (#1577)
  components/button/IconButton.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Feature/tabs a11y (#1513)
  components/tabs/Tab.js
  components/tabs/TabContent.js
  components/tabs/Tabs.js
  components/tabs/config.css
  components/tabs/theme.css
Due: eslint --fix

Fix Mobile Safari issues. (#1282)
  components/input/theme.css
  docs/webpack.config.development.js
  webpack/webpack.config.dev.js
Due: eslint --fix

Fix bug where dropdowns don't close (#1548)
  components/dropdown/Dropdown.js
Due: eslint --fix

Added a generic props interface to share with other components
  components/drawer/Drawer.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

use the new DrawerCommonProps interface
  components/layout/NavDrawer.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

use the new DrawerCommonProps interface
  components/layout/Sidebar.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Fix compatibility with Typescript 2.3+
  components/layout/Layout.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Update MenuItem tabIndex prop type declaration to number
  components/menu/Menu.js
  components/menu/MenuItem.d.ts
  components/menu/MenuItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add ariaHaspopup as a prop to IconButton
  components/button/IconButton.d.ts
  components/button/IconButton.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add ariaHaspopup=true to IconButton in IconMenu
  components/menu/IconMenu.js
Due: eslint --fix

Fixed missing type="button" in Tab.js.
  components/tabs/Tab.js
Due: eslint --fix

Update style proptype in Portal to object
  components/hoc/Portal.js
Due: eslint --fix

Add Escape key to the handleMenuKeyboardTrap
  components/menu/Menu.js
  components/utils/keyboardTrap.js
Due: eslint --fix

Bump version to Knewton-1.3
  package.json
Due: none

Add ariaHaspopup to NavBar left and right icon buttons
  components/app_bar/AppBar.js
Due: eslint --fix

Add ariaLabel prop to IconButton and iconAriaLabel to IconMenu
  components/button/IconButton.d.ts
  components/button/IconButton.js
  components/menu/IconMenu.d.ts
  components/menu/IconMenu.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Adding ariaLabel prop to render <li> with aria-label
  components/list/ListItem.d.ts
  components/list/ListItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add option to round time picker to specific intervals.
  components/time_picker/TimePicker.d.ts
  components/time_picker/TimePicker.js
  components/time_picker/TimePickerDialog.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Update to version 2.0.0-beta.12-1.
  package.json
Due: none

Update version to 2.0.0-beta.12-2
  package.json
Due: none

Update version to 2.0.0-beta.12-3
  package.json
Due: none

Remove max-height from dialog along with hidden overflow
  components/dialog/config.css
  components/dialog/theme.css
Due: none

Fix lint issue
  components/autocomplete/theme.css
Due: none

Make checkbox border color according to spec
  components/checkbox/config.css
  components/checkbox/theme.css
Due: none

Use hover effect on selected table row as well
  components/table/theme.css
Due: none

Disabled input should be dashed not dotted
  components/input/theme.css
Due: none

Remove unknown prop multilineHint which React reports as passed to textarea
  spec/components/input.js
Due: eslint --fix

Add transition to hover effect in list items
  components/list/theme.css
Due: none

Fix travis build broken in #1515
  components/autocomplete/theme.css
Due: none

Make checkbox centered between table edge and next column start
  components/table/theme.css
Due: none

Add AppBar icon more spacing
  components/app_bar/theme.css
Due: none

Rename roundTo to step and fix top of the our issues.
  components/time_picker/TimePicker.d.ts
  components/time_picker/TimePicker.js
  components/time_picker/TimePickerDialog.js
  components/time_picker/readme.md
  spec/components/pickers.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Rename roundTo to step and fix top of the hour issues.
  components/time_picker/TimePicker.d.ts
  components/time_picker/TimePicker.js
  components/time_picker/TimePickerDialog.js
  components/time_picker/readme.md
  spec/components/pickers.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Fix dropdowns not closing.
  components/dropdown/Dropdown.js
Due: eslint --fix

Update version number.
  package.json
Due: none
