Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

update canonical link, og:url, and twitter:site
  index.html
Due: none

update canonical link, og:url, and twitter:site (#1907)
  index.html
Due: none

Autocomplete bug fix
  components/autocomplete/Autocomplete.js
Due: eslint --fix

css
  components/tooltip/config.module.css
  components/tooltip/theme.module.css
Due: none

sample
  spec/components/tooltip.js
  spec/ts/tooltip.tsx
Due: eslint --fix

showCaret
  components/tooltip/Tooltip.js
Due: eslint --fix

ts changes
  spec/ts/table.tsx
  spec/ts/tooltip.tsx
Due: none

info about showCaret
  components/tooltip/index.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

lint
  components/tooltip/Tooltip.js
Due: eslint --fix

Fix autocomplete not displaying empty strings and zeroes
  components/autocomplete/Autocomplete.js
  package.json
Due: eslint --fix

Do not pass all props down to Input
  components/autocomplete/Autocomplete.js
  components/autocomplete/theme.css
  components/chip/theme.css
  components/dropdown/theme.css
  components/table/theme.css
  package.json
Due: eslint --fix

Add support for "overflow" item in autocomplete
  components/autocomplete/Autocomplete.js
  package.json
Due: eslint --fix

Fix Tooltip positioning near edges of the viewport
  .eslintrc
  components/tooltip/Tooltip.js
  components/tooltip/theme.css
  package.json
Due: eslint --fix

Fix onHide in Menu, allow tooltips on focus
  components/menu/Menu.js
  components/tooltip/Tooltip.js
  components/tooltip/config.css
  components/tooltip/theme.css
  package.json
Due: eslint --fix

Allow tooltips without wrappers for every child
  components/tooltip/Tooltip.js
  package.json
Due: eslint --fix

+clearTimeout
  components/tooltip/Tooltip.js
  package.json
Due: eslint --fix

thead divider
  components/table/theme.css
Due: none

allow keyboard activation of a tab by tapping space or enter
  components/tabs/Tab.js
Due: eslint --fix

wip
  components/tabs/theme.module.css
Due: none

Fix table styles, pass `style` to top-level element in inputs
  components/autocomplete/Autocomplete.js
  components/checkbox/Checkbox.js
  components/dialog/Dialog.js
  components/input/Input.js
  components/switch/Switch.js
  components/table/theme.css
  package.json
Due: eslint --fix

fix custom properties
  gulpfile.js
  package.json
Due: eslint --fix

disable custom props & use latest preset
  gulpfile.js
  package.json
Due: eslint --fix

added postcss color-mod with ignore option
  gulpfile.js
  package.json
Due: eslint --fix

got rid of color-mod package
  gulpfile.js
  package.json
Due: eslint --fix

postcss-custom-properties appendVariables
  gulpfile.js
  package.json
Due: eslint --fix

disabled custom-properties / colod-mod
  gulpfile.js
Due: eslint --fix

postcss-custom-properties with preserve:true
  gulpfile.js
Due: eslint --fix

unresolved: warn for color-mod
  gulpfile.js
Due: eslint --fix

postcss-preset-env conf changed
  gulpfile.js
Due: eslint --fix

fixed gulpfile
  gulpfile.js
Due: eslint --fix

changed postcss-preset-env version
  package.json
Due: none

disable custom properties
  gulpfile.js
  package-lock.json
Due: eslint --fix

Replace Dropdown with Autocomplete
  components/autocomplete/theme.css
  components/dropdown/Dropdown.d.ts
  components/dropdown/Dropdown.js
  components/dropdown/config.css
  components/dropdown/index.d.ts
  components/dropdown/index.js
  components/dropdown/overrides.css
  components/dropdown/readme.md
  components/dropdown/theme.css
  package.json
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

updated Time Picker doc, requires react 16
  components/time_picker/readme.md
Due: none

removed postcss-custom-properties dep
  package.json
Due: none

Hide clear icon in autocomplete if autocomplete is disabled
  components/autocomplete/Autocomplete.js
  package.json
Due: eslint --fix

Update README.md with proposed 3.0 version
  README.md
Due: none

remove the unneeded css rules from Dropdown/Autocomplete that break scrollability in those components
  components/autocomplete/theme.module.css
  components/dropdown/theme.module.css
Due: none

do not apply css for focus state when disabled
  components/tabs/theme.module.css
Due: none

removed empty line before closing brace
  components/dropdown/theme.module.css
Due: none

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
