Repository react-toolbox/react-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix, sass-lint --max-warnings 0 -v

Allow ListItem to hyperlink properly
  components/list/ListItem.js
Due: eslint --fix

Add target property to ListItem
  components/list/ListItem.d.ts
  components/list/ListItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Make ListDivider hidden from screen reader
  components/list/ListDivider.js
Due: eslint --fix

Don't error when this.navigationNode changes soon
  components/tabs/Tabs.js
Due: eslint --fix

Pass eslint.
  components/tabs/Tabs.js
Due: eslint --fix

small typo error corrected.
  components/list/readme.md
Due: none

Fix arrows updating issue when children change
  components/tabs/Tabs.js
Due: eslint --fix

Add onEscKeyDown and onOverlayClick fallbacks
  components/time_picker/TimePicker.js
Due: eslint --fix

upgrade themr
  components/dropdown/Dropdown.js
  components/input/Input.js
  components/input/index.js
  components/slider/Slider.js
  docs/app/components/layout/install/install.md
  package.json
  yarn.lock
Due: eslint --fix

prepare for release
  package.json
Due: none

bump 1.4.0
  package.json
Due: none

remove dependency on forked version of react-css-themr
  components/dropdown/Dropdown.js
  components/input/Input.js
  components/input/index.js
  components/slider/Slider.js
  docs/app/components/layout/install/install.md
  package.json
  yarn.lock
Due: eslint --fix

remove dev artifact
  karma.conf.js
  package.json
  yarn.lock
Due: eslint --fix

onchange
  components/button/BrowseButton.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Enable onKeyDown and onKeyUp props on Autocomplete component
  components/autocomplete/Autocomplete.js
Due: eslint --fix

Update Autocomplete TypeScript declaration file and readme with key callbacks
  components/autocomplete/Autocomplete.d.ts
  components/autocomplete/readme.md
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

Add label htmlFor and input id attributes to radio/checkbox
  components/checkbox/Checkbox.js
  components/radio/RadioButton.js
  package.json
  yarn.lock
Due: eslint --fix

Allow tabs to be navigated with up and down keys
  components/tabs/Tabs.js
Due: eslint --fix

Make Snackbar label arg accept React elements
  components/snackbar/Snackbar.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

TypeScript: snack-bar label accepts element
  components/snackbar/Snackbar.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts'

fix: Only <li> elements should be under <ul>.
  components/list/ListDivider.js
Due: eslint --fix

Adding optional ariaLabel prop for <li> in MenuItem
  components/menu/MenuItem.d.ts
  components/menu/MenuItem.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Add wrapper around button label
  components/button/Button.js
  components/button/base.d.ts
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Propagating theme.button down to the root level of IconButton
  components/button/IconButton.js
Due: eslint --fix

Update tabindex logic on tabs
  components/list/ListItem.js
Due: eslint --fix

wip
  components/autocomplete/Autocomplete.d.ts
  components/autocomplete/Autocomplete.js
  components/autocomplete/readme.md
  spec/components/autocomplete.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

added .npmrc to gitignore
  .gitignore
Due: none

code review changes
  components/autocomplete/Autocomplete.js
  components/autocomplete/readme.md
Due: eslint --fix

Add missing Input import
  components/tooltip/readme.md
Due: none

Don't handle key events if slider is disabled
  components/slider/Slider.js
  components/slider/__tests__/index.spec.js
Due: eslint --fix

Handle onChange in errored input in docs
  docs/app/components/layout/main/modules/examples/input_example_1.txt
Due: none

Use innerRef to blur input
  components/slider/Slider.js
Due: eslint --fix

Adding Event to be passed for Radio Group for handleClick function similar as other components #1544
  components/radio/RadioGroup.js
Due: eslint --fix

Add option to hide ProgressBar component from screen reader
  components/progress_bar/ProgressBar.d.ts
  components/progress_bar/ProgressBar.js
Due: prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts', eslint --fix

Remove input auto height before setting a custom one
  components/input/Input.js
Due: eslint --fix

Added property to check if the Layout childrens are NavDrawer Sidebar or AppBar
  components/layout/Layout.js
Due: eslint --fix

Revert "Added property to check if the Layout childrens are NavDrawer Sidebar or AppBar"
  components/layout/Layout.js
Due: eslint --fix

Path conditions:
  prettier --write --print-width 100 --trailing-comma es5 --single-quote '**/*.ts': any of: *.ts
  eslint --fix: any of: *.js
  sass-lint --max-warnings 0 -v: any of: *.scss
